<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsyncServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AsyncServer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AsyncServer.Properties.Settings>
            <setting name="mySetting1" serializeAs="String">
                <value>John</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>11001</value>
            </setting>
        </AsyncServer.Properties.Settings>
        <AsyncServer.Settings1>
            <setting name="Settings1" serializeAs="String">
                <value>John</value>
            </setting>
        </AsyncServer.Settings1>
    </userSettings>
</configuration>